python_mpv_jsonipc==1.2.0
beautifulsoup4==4.12.2
requests==2.32.2
pycryptodome==3.19.1
pycryptodomex==3.19.1
urllib3==2.2.2
selenium==4.14.0
pandas==2.1.1
pymongo==4.6.3
python-dotenv==1.0.0
undetected-chromedriver==3.5.3
webdriver_manager==4.0.1
mpv==1.0.4
